:root{
    --color: #000;
    --accent: #ddd;
    --accent2: #aaa;
    --bg: #fff;
    --bg-transparent: #ffffffb3;
    --transition: .16s;
    --font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    --fontsize: 18px;
    --radius: 15px;
}

.darkmode{
    --color: #fff;
    --accent: #333;
    --accent2: #222;
    --bg: #000;
    --bg-transparent: #000000b3;
}

*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: var(--font);
    color: var(--color);
    background-color: var(--bg);
    font-size: var(--fontsize);
    text-align: center;
    padding: 20px 0;
}

::selection{
    background-color: var(--color);
    color: var(--bg);
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 14px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent2);
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-thumb:active{
    background: var(--color);
}

a{
    color: currentColor;
    transition: var(--transition);
    text-decoration: underline 2px solid;
}

a:hover, button:hover, input:hover{
    opacity: .7;
}

a:active, button:active{
    opacity: .4;
}

.btn, button{
    background-color: var(--color);
    color: var(--bg);
    text-decoration: none;
    padding: 10px;
    border-radius: var(--radius);
    font-size: var(--fontsize);
    cursor: pointer;
    transition: var(--transition);
    fill: var(--bg);
    user-select: none;
}

.btn.two, button.two{
    background-color: transparent;
    color: currentColor;
    text-decoration: none;
    padding: 10px;
    border-radius: var(--radius);
}

.btn.two:hover, button.two:hover{
    background-color: var(--accent);
    opacity: .7;
}

.btn.two:active, button.two:active{
    background-color: var(--accent2);
    opacity: .4;
}

input{
    background-color: var(--accent);
    border: none;
    outline: 3px solid transparent;
    color: currentColor;
    text-decoration: none;
    padding: 10px;
    border-radius: var(--radius);
    font-size: var(--fontsize);
}

input:focus{
    background-color: transparent;
    outline: 3px solid var(--color);
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

img, video, iframe{
    border-radius: var(--radius);
    user-select: none;
}

img, video, iframe, p, h1{
    max-width: 600px;
    min-width: 60vw;
    width: 80vw;
    display: inline-block;
}

p{
    font-size: 25px;
    text-align: left;
}

svg{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: var(--color);
    fill: var(--color);
}



nav.topOnViewerID12345{
    padding: 10px 0;
    height: max-content;
    border-radius: var(--radius);
    border: 2px solid var(--color);
    margin-bottom: 20px;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: var(--bg);
}

nav.topOnViewerID12345 svg{
    height: 30px;
    width: 30px;
    color: var(--color);
    fill: var(--color);
}

nav button{
    position: fixed;
    left: 30px;
    top: 30px;
}

#footer{
    padding: 20px;
    margin-top: 40px;
    border-top: 3px solid var(--color);
    text-align: center;
}

#footer a{
    padding: 5px;
}

#footer button.themeChanger{
    margin-bottom: 40px;
}

#footer button.themeChanger svg{
    transition: var(--transition);
    color: var(--bg);
    fill: var(--bg);
}

.darkmode #footer button.themeChanger svg{
    transform: rotate(180deg);
}